 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: yellow;
  color: #333;
  text-align: center;
}

header {
  background: #FAFAD2;
  padding: 20px;
  color: #333;
}

h1 {
margin: 0;
  font-size: 2.5em;
  background: #FAFAD2;
}

main {
  padding: 20px;
  background: #FAFAD2;
}

button {
  background: white gray;
  color: black;
  border: none;
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #DAA520;
}

#mensagem {
  margin-top: 15px;
  font-style: italic;
  color: #444;
  font-size: 1.2em;
  background: #FAFAD2;
}

footer {
background: yellow;
padding: 10px;
  margin-top: 30px;
}
